microservice-chart: &microservice-chart
  namespace: "receipts"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: ghcr.io/pagopa/pagopa-receipt-pdf-generator
    tag: "1.17.3-1-rename-cartid"
    pullPolicy: Always
  # https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/HostController.cs
  livenessProbe:
    httpGet:
      path: /health
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /health
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  deployment: &deployment
    create: true
    replicas: 1
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 0
        maxSurge: 1
  serviceMonitor:
    create: true
    endpoints:
      - interval: 10s #jmx-exporter
        targetPort: 12345
        path: /metrics
  ports:
    - 8080 #http
    - 12345 #jmx-exporter
  service:
    type: ClusterIP
    ports:
      - 8080 #http
      - 12345 #jmx-exporter
  ingress: &ingress
    create: true
    host: "weuuat.receipts.internal.uat.platform.pagopa.it"
    path: /pagopa-receipt-pdf-generator/(.*)
    servicePort: 8080
  serviceAccount:
    name: "receipts-workload-identity"
  azure:
    workloadIdentityClientId: <workload-identity-client-id-set-automatically-by-gha>
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    readOnlyRootFilesystem: false # https://github.com/pagopa/aks-microservice-chart-blueprint/blob/main/MIGRATION_GUIDE.md#from-v2x-to-v53
    allowPrivilegeEscalation: false # https://learn.microsoft.com/it-it/azure/aks/developer-best-practices-pod-security
    capabilities:
      drop:
        - all
  # tmpVolumeMount:
  #   create: true
  #   mounts:
  #     - name: access-logs
  #       mountPath: /tmp
  #     - name: temp
  #       mountPath: /temp
  resources: &resources
    requests:
      memory: "1024Mi"
      cpu: "0.40"
    limits:
      memory: "1512Mi"
      cpu: "0.75"
  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 1
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
      - type: memory
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
  fileConfig: {}
  envConfig: &envConfig
    TZ: "Europe/Rome"
    ENV: "uat"
    LOG_LEVEL: "INFO"
    WEBSITE_SITE_NAME: "pagopareceiptpdfgenerator" # required to show cloud role name in application insights
    SERVICE_NAME: "pagopa-receipt-pdf-generator"
    ASPNETCORE_URLS: "http://*:8080"
    FUNCTIONS_WORKER_RUNTIME: "java"
    RECEIPT_QUEUE_TOPIC: "pagopa-u-weu-receipts-queue-receipt-waiting-4-gen"
    RECEIPT_QUEUE_TOPIC_POISON: "pagopa-u-weu-receipts-queue-receipt-waiting-4-gen-poison"
    COSMOS_RECEIPT_QUEUE_MAX_RETRY: "5"
    COSMOS_CART_RECEIPT_QUEUE_MAX_RETRY: "5"
    PDF_ENGINE_ENDPOINT: "https://api.uat.platform.pagopa.it/shared/pdf-engine/v1/generate-pdf"
    COSMOS_RECEIPT_SERVICE_ENDPOINT: "https://pagopa-u-weu-receipts-ds-cosmos-account.documents.azure.com:443/"
    COSMOS_BIZ_EVENT_SERVICE_ENDPOINT: "https://pagopa-u-weu-bizevents-ds-cosmos-account.documents.azure.com:443/"
    COSMOS_BIZ_EVENT_READ_REGION: "West Europe"
    COSMOS_RECEIPT_READ_REGION: "West Europe"
    COSMOS_RECEIPT_DB_NAME: "db"
    COSMOS_BIZ_EVENT_DB_NAME: "db"
    COSMOS_RECEIPT_CONTAINER_NAME: "receipts"
    CART_FOR_RECEIPT_CONTAINER_NAME: "cart-for-receipts"
    COSMOS_BIZ_EVENT_CONTAINER_NAME: "biz-events"
    CART_RECEIPT_QUEUE_TOPIC: "pagopa-u-weu-receipts-queue-cart-receipt-waiting-4-gen"
    CART_RECEIPT_QUEUE_TOPIC_POISON: "pagopa-u-weu-receipts-queue-cart-receipt-waiting-4-gen-poison"
    BLOB_STORAGE_ACCOUNT_ENDPOINT: "https://pagopauweureceiptsfnsa.blob.core.windows.net"
    BLOB_STORAGE_CONTAINER_NAME: "pagopa-u-weu-receipts-azure-blob-receipt-st-attach"
    WORKING_DIRECTORY_PATH: "/temp"
    MIN_PDF_LENGTH: "10000"
    PDV_TOKENIZER_BASE_PATH: "https://api.uat.tokenizer.pdv.pagopa.it/tokenizer/v1"
    PDV_TOKENIZER_INITIAL_INTERVAL: "200"
    PDV_TOKENIZER_MULTIPLIER: "2.0"
    PDV_TOKENIZER_RANDOMIZATION_FACTOR: "0.6"
    PDV_TOKENIZER_MAX_RETRIES: "3"
    OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopareceiptpdfgeneratorotl,deployment.environment=uat"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_LOGS_EXPORTER: "none"
    OTEL_TRACES_SAMPLER: "always_on"
    ECOMMERCE_FILTER_ENABLED: "false"
    LIST_VALID_ORIGINS: "IO,CHECKOUT,WISP,CHECKOUT_CART"
    UNWANTED_REMITTANCE_INFO: "pagamento multibeneficiario,pagamento bpay"
    AZURE_FUNCTIONS_MESH_JAVA_OPTS: "-javaagent:/home/site/wwwroot/jmx_prometheus_javaagent-0.19.0.jar=12345:/home/site/wwwroot/config.yaml -javaagent:/home/site/wwwroot/opentelemetry-javaagent.jar -Xmx1024m -XX:+UseG1GC"
  # envConfigMapExternals:
  externalConfigMapValues: &externalConfigMapValues
    template-maps:
      PAYMENT_METHOD_NAME_MAP: payment-method-name-map
      BRAND_LOGO_MAP: brand-logo-map
  envFieldRef: &envFieldRef
    APP_NAME: "metadata.labels['app.kubernetes.io/instance']"
    APP_VERSION: "metadata.labels['app.kubernetes.io/version']"
  envSecret: &envSecret
    APPLICATIONINSIGHTS_CONNECTION_STRING: "ai-u-connection-string"
    RECEIPTS_STORAGE_CONN_STRING: "receipts-storage-account-connection-string"
    COSMOS_RECEIPTS_CONN_STRING: "cosmos-receipt-connection-string"
    OCP_APIM_SUBSCRIPTION_KEY: "shared-apim-u-subscription-key"
    COSMOS_RECEIPT_KEY: "cosmos-receipt-pkey"
    OTEL_EXPORTER_OTLP_HEADERS: "elastic-otl-secret-token"
    PDV_TOKENIZER_SUBSCRIPTION_KEY: "tokenizer-api-key"
    AES_SECRET_KEY: "aes-secret-key"
    AES_SALT: "aes-salt"
    COSMOS_BIZ_EVENT_KEY: "cosmos-bizevent-pkey"
  keyvault:
    name: "pagopa-u-receipts-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  canaryDelivery:
    create: false
    ingress:
      create: false
      canary:
        type: header
        headerName: X-Canary
        headerValue: canary
        weightPercent: 0
    service:
      create: false
    deployment:
      create: false
      image:
        repository: ghcr.io/pagopa/pagopa-receipt-pdf-generator
        tag: "1.0.2"
        pullPolicy: Always
      envConfig:
      envSecret:
# Configuration for standard application
pagopa-receipt-pdf-generator:
  !!merge <<: *microservice-chart
  fullnameOverride: "pagopa-receipt-pdf-generator"
  ingress:
    !!merge <<: *ingress
  resources:
    !!merge <<: *resources
  externalConfigMapValues:
    !!merge <<: *externalConfigMapValues
  envConfig:
    !!merge <<: *envConfig
    AzureWebJobs.GenerateReceiptProcess.Disabled: "false"
    AzureWebJobs.ManageReceiptPoisonQueueProcessor.Disabled: "false"
    AzureWebJobs.RetryReviewedPoisonMessagesProcessor.Disabled: "false"
    AzureWebJobs.GenerateCartReceiptProcess.Disabled: "true"
    AzureWebJobs.ManageCartReceiptPoisonQueueProcessor.Disabled: "true"
    AzureWebJobs.RetryReviewedCartPoisonMessagesProcessor.Disabled: "true"
    AzureWebJobs.RegenerateReceiptFunc.Disabled: "true"
    AzureWebJobs.RegenerateCartReceiptFunc.Disabled: "true"
  envSecret:
    !!merge <<: *envSecret
# Configuration for Cart functions
pagopa-receipt-pdf-generator-cart:
  !!merge <<: *microservice-chart
  fullnameOverride: "pagopa-receipt-pdf-generator-cart"
  ingress:
    !!merge <<: *ingress
    path: /pagopa-receipt-pdf-generator-cart/(.*)
  resources:
    !!merge <<: *resources
  externalConfigMapValues:
    !!merge <<: *externalConfigMapValues
  envConfig:
    !!merge <<: *envConfig
    WEBSITE_SITE_NAME: 'pagopareceiptpdfgeneratorcart'
    SERVICE_NAME: "pagopa-receipt-pdf-generator-cart"
    AzureWebJobs.GenerateReceiptProcess.Disabled: "true"
    AzureWebJobs.ManageReceiptPoisonQueueProcessor.Disabled: "true"
    AzureWebJobs.RetryReviewedPoisonMessagesProcessor.Disabled: "true"
    AzureWebJobs.GenerateCartReceiptProcess.Disabled: "false"
    AzureWebJobs.ManageCartReceiptPoisonQueueProcessor.Disabled: "false"
    AzureWebJobs.RetryReviewedCartPoisonMessagesProcessor.Disabled: "false"
    AzureWebJobs.RegenerateReceiptFunc.Disabled: "true"
    AzureWebJobs.RegenerateCartReceiptFunc.Disabled: "true"
  envSecret:
    !!merge <<: *envSecret
pagopa-receipt-pdf-generator-helpdesk:
  !!merge <<: *microservice-chart
  fullnameOverride: "pagopa-receipt-pdf-generator-helpdesk"
  ingress:
    !!merge <<: *ingress
    path: /pagopa-receipt-pdf-generator-helpdesk/(.*)
  resources:
    !!merge <<: *resources
  externalConfigMapValues:
    !!merge <<: *externalConfigMapValues
  envConfig:
    !!merge <<: *envConfig
    WEBSITE_SITE_NAME: 'pagopareceiptpdfgeneratorhelpdesk'
    SERVICE_NAME: "pagopa-receipt-pdf-generator-helpdesk"
    AzureWebJobs.GenerateReceiptProcess.Disabled: "true"
    AzureWebJobs.ManageReceiptPoisonQueueProcessor.Disabled: "true"
    AzureWebJobs.RetryReviewedPoisonMessagesProcessor.Disabled: "true"
    AzureWebJobs.GenerateCartReceiptProcess.Disabled: "true"
    AzureWebJobs.ManageCartReceiptPoisonQueueProcessor.Disabled: "true"
    AzureWebJobs.RetryReviewedCartPoisonMessagesProcessor.Disabled: "true"
    AzureWebJobs.RegenerateReceiptFunc.Disabled: "false"
    AzureWebJobs.RegenerateCartReceiptFunc.Disabled: "false"
  envSecret:
    !!merge <<: *envSecret
