name: ReportPdf
on:
  schedule:
    - cron: '00 05 * * *'

  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        description: Select the Environment
        options:
          - dev
          - uat
          - prod
        default: prod

      time_range:
        required: true
        type: choice
        description: Select the Time Range
        options:
          - daily
          - weekly
          - dozen
          - monthly
          - custom
        default: weekly

      custom_start_date:
        required: false
        type: number
        description: Start date for custom range in millis

      custom_end_date:
        required: false
        type: number
        description: End date for custom range in millis

      notify:
        description: 'notify report results'
        required: false
        type: boolean
        default: true

permissions:
  id-token: write
  contents: read
  deployments: write


jobs:
  report_script:
    name: Report ${{(github.event.inputs == null && 'prod') || inputs.environment }}
    runs-on: [ self-hosted-job, "${{(github.event.inputs == null && 'prod') || inputs.environment }}" ]
    environment: ${{(github.event.inputs == null && 'prod') || inputs.environment }}
    steps:

      - name: Checkout
        id: checkout
        uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707

      - name: Login
        id: login
        # from https://github.com/Azure/login/commits/master
        uses: azure/login@92a5484dfaf04ca78a94597f4f19fea633851fa2
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

      - name: Run reports
        shell: bash
        env:
          RECEIPTS_COSMOS_ENDPOINT_ENV: ${{ secrets.RECEIPTS_COSMOS_ENDPOINT }}
          RECEIPTS_COSMOS_KEY_ENV: ${{ secrets.RECEIPTS_COSMOS_KEY }}
          RECEIPTS_COSMOS_TIMEOUT_ENV: ${{ secrets.RECEIPTS_COSMOS_TIMEOUT }}
          BIZ_COSMOS_ENDPOINT_ENV: ${{ secrets.BIZ_COSMOS_ENDPOINT }}
          BIZ_COSMOS_KEY_ENV: ${{ secrets.BIZ_COSMOS_KEY }}
          BIZ_COSMOS_TIMEOUT_ENV: ${{ secrets.BIZ_COSMOS_TIMEOUT }}
        run: |
          export RECEIPTS_COSMOS_ENDPOINT="$RECEIPTS_COSMOS_ENDPOINT_ENV"
          export RECEIPTS_COSMOS_KEY="$RECEIPTS_COSMOS_KEY_ENV"
          export RECEIPTS_COSMOS_TIMEOUT="$RECEIPTS_COSMOS_TIMEOUT_ENV"
          export BIZ_COSMOS_ENDPOINT="$BIZ_COSMOS_ENDPOINT_ENV"
          export BIZ_COSMOS_KEY="$BIZ_COSMOS_KEY_ENV"
          export BIZ_COSMOS_TIMEOUT="$BIZ_COSMOS_TIMEOUT_ENV"
          export DATE_RANGE=${{(github.event.inputs == null && 'weekly') || inputs.time_range }}
          export CUSTOM_START_DATE=${{(github.event.inputs == null && '0') || inputs.custom_start_date }}
          export CUSTOM_END_DATE=${{(github.event.inputs == null && '0') || inputs.custom_end_date }}

          cd ./report
          chmod +x ./run.sh
          ./run.sh local


      # - name: Set the value in bash
      #   id: save-env-report
      #   run: |
      #     cd ./report
      #     {
      #       echo 'REPORT_PDF<<EOF'
      #       cat report.md
      #       echo EOF
      #     } >> "$GITHUB_ENV"

      # - name: Debug reports
      #   shell: bash
      #   run: |
      #     echo ${{ env.REPORT_PDF }}

      - name: Send notification to Slack
        id: slack
        if: ${{ success() && (github.event.inputs == null || inputs.notify)}}
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a #v2.1.1
        with:
          payload-file-path: "./report/src/report.json"
          payload-templated: false
          webhook: ${{ secrets.SLACK_WEBHOOK_URL_REPORT }}
          webhook-type: incoming-webhook